<div class="container-fluid">
  <div class="container">
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas">
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.email }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.number }}</td>
            <td><button (click)="openEdit()">Edit</button></td>
            <td><button (click)="onDelete(data.id)">Del</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
